html {
	height: 100%;
	width: 100%;
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}
body {
	padding: 15px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	flex-wrap: nowrap;
}
header{
	font-size: 230%;
	margin-top: 15px;
}
#nav{
    list-style-type: none;
    margin-right: 40px;
    margin-bottom: 35px;
}
#nav li{
    display: inline;
    padding: 0px 9px 0px 9px;}
#nav a:link{
    color: #808080;
    text-decoration: none;}
#nav a:visited{
    color: #808080;}
#nav a:hover{
    color: #000000;}
#nav a:active{
    color: #000000;}
#logout, .select{
	cursor: pointer;
	color: #808080;
}
#selected { /* doesn't turn blue??? */
	color: #0198E1;
}
input, #browse {
	color: black;
	width: 100%; 
	border: 1px solid #BEBEBE;
	background-color: #FFFFFF;
	padding: 5px;
}
.required {
	color: red;
}
h2{
	text-align: center;
	font-weight: normal;
}
#add-listing-body{
	width: 50%;
}
input[type="checkbox"] { 
	display: inline-block;
	width: 15px;
    vertical-align: top;
}
#option-list input {
	width: 10px;
}
#price-and-security-deposit, #pic-and-details {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}
.price-div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}
.price-input {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	width: 100%;
}
#price {
	width: 90%;
}
#semester, #specifications, .checkboxes {
	display: flex;
	flex-direction: column;
	align-items: left;
	width: 100%;
}
.checkboxes p{
	padding: 0px;
	margin: 0px;
}
#pic-upload {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}
#next {
	align-self: center;
	width: 50px;
	margin-bottom: 5px;
}
#browse {
	width: 85px;
	background-color: white;
	color: white;
}
#post-button {
	width: 150px;
	height: 50px;
	margin: 20px 0px 10px 20px;
	background-color: #0D4F8B;
	color: white;
	font-size: 20px;
}
@media only screen and (max-width: 650px) and (min-width: 530px) {
    #add-listing-body{
	width: 80%;}
}
@media only screen and (max-width: 530px) {
    body{
        font-size: 11px;}
    header{
        font-size: 120%;}
    #nav li{
        font-size: 80%;}
    #post-button {
		width: 90px;
		height: 30px;
		margin: 10px 0px 5px 10px;
		background-color: #0D4F8B;
		color: white;
		font-size: 13px;}

}
@media only screen and (max-width: 480px) {
    #add-listing-body{
		width: 80%;}
	#post-button {
		width: 90px;
		height: 30px;
		margin: 10px 0px 5px 10px;
		background-color: #0D4F8B;
		color: white;
		font-size: 13px;}
}
